body{
  background-color: #fd5030;
}
.mobile{
  padding:10px 20px 30px 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; 
  background-color: #fbfcff;
}
.mobile .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile .icon p{
  font-size: 22px;
  font-weight: 800;
}
.mobile .image{
  text-align: center;
}
.mobile .image p{
  color: #9e9e9e;
}
.mobile .media{
  text-align: center;
  padding-bottom: 20px;
}
.mobile .media label:nth-child(2){
  color: #787878;
  padding-left: 10px;
}
.mobile .image h4{
  font-weight: 800;
}
.mobile .image img{
  border: 8px #fd5030 double;
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.stats{
  display: flex;

}
.stats .stats-item p{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.stats .stats-item h4{
  color: #787878;
  font-size: 16px;
  text-align: center;
}
.button{
  display: flex;
  margin: 30px 0 30px 0;
  text-align: center;
}
.button .btn a{
  padding: 12px 17px;
  text-decoration: none;
  background-color: #fd5030;
  border-radius: 10px;
  color: white;
}
.button label{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #d6d6d6;
}
.button label{
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
  text-align: center;
  margin: 30px 0 30px 0;
  font-size: 20px;
  font-weight: 600;
}
.title::after{
  content: '';
  width: 120px;
  height: 5px;
  background-color:  #fd5030;
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  }
  .navbar{
    border-radius: 10px;
    background-color: #787878;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .icons label{
    padding: 11px;
    color: white;
  }


  
/* Small  */
@media (min-width: 768px){
  .mobile{
    width: 28%;
  }  
}

/* Medium */
@media (min-width: 992px){
  .mobile{
    width: 28%;
  }  
}

/* Large  */
@media (min-width: 1200px){
  .mobile{
    width: 28%;
  }  
}